<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="breedIp" value="192.168.1.1"/>
    <add key="opbootIp" value="192.168.1.1"/>
    <add key="defaultIp" value="192.168.1.1"/>
    <add key="gocloud_pwd" value="admin"/>
    <add key="gocloud_mini_file_k2p" value="高恪K2P刷机专用底包10159.bin"/>
    <add key="gocloud_mini_file_k2k1" value="高恪K2K1等7620A通用刷机专用底包9993.bin"/>
    <add key="gocloud_all_file_k2p" value="GOCLOUD高恪-S3A(K2P-A1-A2完整全能包)-4.3.0.14696.bin.web"/>
    <add key="gocloud_all_file_k2k1" value="GOCLOUD高恪-S1A_8M(K2K1完整全能包)-4.3.0.14696.bin.web"/>
    <add key="k2_163_breed_file" value="K2-163版本(内置breed).bin"/>
	<add key="gocloud_ap_flush_file_k2p" value="GOCLOUD高恪-S3A_AP(K2P AP刷机包)-4.3.0.12388.bin"/>
	<add key="gocloud_ap_flush_file_k2k1" value="GOCLOUD高恪-S1A_AP(K2K1 AP刷机包)-4.3.0.12388.bin"/>
  </appSettings>
</configuration>